* {
  padding: 0px;
  margin: 0px;
}
header {
  display: flex;
  margin: 0 auto;
  width: 60vw;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid #cccccc;
}
#logoposition {
  margin: 0px 80px 0px 0px;
  /* margin-left: auto; */
}

#logo {
  width: 50px;
  filter: grayscale(100%);
}

#background {
  flex-direction: column;
  align-items: center;
  /* background-image: url(../img/logo.png);
  background-size: cover; */
  width: 140px;
  /* height: 120px; */
}

#search {
  border: 1px solid #cccccc;
  width: 50%;
  height: 4rem;
  border-radius: 500px;
  padding-left: 10px;
}
#search::-webkit-input-placeholder {
  text-align: center;
}

#search:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
}

#search::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
}

#search:-ms-input-placeholder {
  text-align: center;
}

#menu {
  position: absolute;
  right: 18.6vw;
  top: 6.3vh;
}

#menu ul {
  display: flex;
  justify-content: space-around;
}

#menu ul li {
  list-style: none;
  width: 100px;
}

a {
  color: black;
  text-decoration: none;
}

.siximg {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  width: 60vw;
  height: 70vh;
  background-color: #eeeeee;
  box-shadow: 3px 3px 35px 0px rgb(77 112 171 / 28%);
}

.img-six {
  width: 16vw;
  height: 30vh;
  border: 1px solid wheat;
  border-radius: 1rem;
}

.img-flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.img-flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
