*{
    margin: 0;
    padding:0;
}

img{
    width: 200px;
    height: 200px;
}
.box{
    padding: 0 100px;
    display: flex;
}
#grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    width: 1600px;
    margin: 0 auto; 
    margin-top: 100px;
    margin-top: 100px;
    text-align: center;
}



#rjator{
    width: 1400px;
    height: 65px;
    margin: 0 auto;
    margin-bottom: 50px;
    border-radius: 20px;
   
}

#nav_menu ul {

list-style-type:none;
padding-left:0px;
}

#nav_menu ul li {    
display:inline;
padding: 0px 110px 0px 100px;
margin: 5px 0px 5px 0px;

}

#nav_menu ul li:first-child {
border-left: none;
}
#menu{
font-size: 20px;
text-align: center;
margin-bottom: 100px;
}
#menu>li>a {
text-decoration: none;
color: black;
}
h2{
margin-left: 20px;
margin-bottom: 30px;
}
p{
margin-left: 20px;
}
#my_modal1 {
    display: none;
    width: 600px;
    padding: 20px 60px;
    background-color: #fefefe;
    border: 1px solid #888;
    border-radius: 3px;
}

#my_modal .modal_close_btn {
    position: absolute;
    top: 10px;
    right: 10px;
}

.my_modal {
    display: none;
    width: 600px;
    padding: 40px 70px;
    background-color: #fefefe;
    border: 1px solid #888;
    border-radius: 3px;
    line-height: 23px;
}

.my_modal .modal_close_btn {
    position: absolute;
    top: 10px;
    right: 10px;
}
#find{
    width: 1400px;
    height: 65px;
    border-radius: 5000px;
    margin: 0 auto;
    margin-bottom: 50px;
    border-radius: 20px;
    padding-left: 20px;
}